.modal-window {
    display: none;
    /* fully transperent color */
    background: rgba(0, 0, 0, 0);
}

.modal-window-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.modal-window-active {
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    opacity: 1;
    z-index: 400;
}

.modal-window_overlay {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: rgba(247, 248, 249, .75);
    overflow-x: hidden;
    overflow-y: auto;
}

html[data-theme="dark"] .modal-window_overlay {
    background: rgba(0, 0, 0, .75);
}

.modal-window_container {
    border-radius: .6rem;
    box-shadow: rgba(125, 128, 147, 0.23) 0px 3px 11px 0px;
    transition: box-shadow .5s;
    background-color: var(--main-bg);
    display: flex;
    width: 100%;
    animation: slide-down .2s ease 1;
    z-index: 1;
    overflow: auto;
    flex-direction: column;
}

.modal-window_container:hover,
.modal-window_container:focus {
    box-shadow: rgba(125, 128, 147, 0.46) 0px 3px 11px 0px;
}